---
layout: base.njk
---

<p class="about-farley"><strong>Farley Reynolds</strong> is a professional <strong>web developer</strong> at <strong>NASA</strong>'s Atmospheric Science Data Center,
where he helps build applications that developers and scientists use to work with satellite data.</p>

 <nav>
    <ul>
        <li>
            <h3>CONTACT</h3>
            <a class="email" href="mailto:farleykreynolds@gmail.com">farleykreynolds@gmail.com</a>
        </li>
        <li>
            <h3>RESUME</h3>
            <a href="/static/assets/FarleyReynolds_Resume_Aug2020.pdf" download>Download</a><br>
            <a href="/resume/">Web Version</a>
        </li>
    </ul>
<nav>