---
layout: base.njk
---

<p class="about-farley"><strong>Farley Reynolds</strong> is a professional <strong>developer</strong> who
specializes in <strong>Python</strong> <strong>web</strong> frameworks.  
He works at <strong>NASA</strong>'s Atmospheric Science Data Center,
where he helps build applications that process satellite data for scientific research.</p>

 <nav>
    <ul>
        <li>
            <a class="email" href="mailto:farleykreynolds@gmail.com">farleykreynolds@gmail.com</a>
        </li>
        <li>
            <a href="/static/assets/FarleyReynolds_Resume_Jan2020.pdf" download>Download Resume</a>
        </li>
        <li>
            <a href="/blog">Blog</a>  
        </li>
    </ul>
<nav>