<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Farley Reynolds</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <p class="super">Resume also available as PDF download, API, and NPM package.</p>
    <main>
        {{ content|safe }}
    </main>
    <p class="super">Resume also available as PDF download, API, and NPM package.</p>
</body>
</html>