@font-face {
    font-family: 'public-sans';
    src: url(../fonts/PublicSans-Regular.woff);
}

@font-face {
    font-family: 'public-sans';
    src: url(../fonts/PublicSans-ExtraLight.woff);
    font-weight: 200;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 17px;
}

body {
    font-family: 'public-sans', sans-serif;
    background: #f7f9fa;
}

.super {
    text-align: center;
}

main {
    max-width: 900px;
    padding: 3rem;
    margin: auto;
    background: #ffffff;
}

.hero {
    display: flex;
    flex-direction: column;
}

p {
    font-weight: 200;
}

h2:first-of-type {
    margin-bottom: -1rem;
}

blockquote {
    margin: 0 0 2rem 0;
}

h3 {
    margin-bottom: -.4rem;
    letter-spacing: .125rem;
}

h4 {
    margin-bottom: -.5rem;
}

ul {
    padding: 0;
    list-style: none;
    margin-bottom: 2.4rem;
    font-weight: 300;
}

ul > li {
    margin-bottom: .5rem;
}