@font-face {
    font-family: 'sohne-buch';
    src: url(../fonts/sohne-test-buch.woff);
}

@font-face {
    font-family: 'sohne-leicht';
    src: url(../fonts/soehne-test-leicht.woff);
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 17px;
    color: #172B4D;
}

body {
    padding: 1rem;
    font-family: 'sohne-buch', sans-serif;
}

main {
    max-width: 900px;
    padding: 3rem;
    margin: auto;
    /* background: #ffffff; */
}

.hero {
    display: flex;
    flex-direction: column;
}

a {
    color: rgba(0, 82, 204, 1);
    font-size: .9rem;
}

p {
    font-family: 'sohne-leicht';
    font-weight: 300;
}

h2:first-of-type {
    margin-bottom: -1rem;
}

h3 {
    margin-bottom: -.4rem;
    letter-spacing: .125rem;
}

h4 {
    margin-bottom: -.4rem;
    font-style: italic;
    font-weight: 400;
}

ul {
    padding: 0;
    list-style: none;
    margin-bottom: 2.4rem;
    font-family: 'sohne-leicht';
    font-weight: 300;
}

ul > li {
    margin-bottom: .5rem;
}

@media (max-width: 900px) {
    body {
        padding: 0 .3rem
    }
    main {
        padding: 1rem;
    }
}