@font-face {
    font-family: 'basier-reg';
    src: url(../fonts/basiersquare-regular-webfont.woff),
         url(..fonts/basiersquare-regular-webfont.woff2);
}

@font-face {
    font-family: 'basier-bold';
    src: url(../fonts/basiersquare-bold-webfont.woff),
         url(../fonts/basiersquare-bold-webfont.woff2);
}

@font-face {
    font-family: 'basier-italic';
    src: url(../fonts/basiersquare-regularitalic-webfont.woff),
         url(../fonts/basiersquare-regularitalic-webfont.woff2);
}

@font-face {
    font-family: 'basier-mono';
    src: url(../fonts/basiersquaremono-regular-webfont.woff),
         url(../fonts/basiersquaremono-regular-webfont.woff2);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    color: #172B4D;
    font-family: 'basier-reg';
}

body {
    padding: 1rem;
    font-family: 'basier-reg';
}

main {
    max-width: 900px;
    padding: 3rem;
    margin: auto;
}

p {
    line-height: 1.2;
}

nav > ul > li {
    margin-bottom: 3rem;
}

nav > ul > li > a {
    color: #172B4D;
    font-family: 'basier-reg';
    line-height: 2;
}

nav h3 {
    margin-bottom: .5rem;
    letter-spacing: 0;
    font-family: 'basier-mono';
}

.about-farley {
    font-size: 32px;
}

a {
    color: #172B4D;
}

strong {
    font-family: 'basier-bold';
}

h2:first-of-type {
    margin-bottom: -1rem;
    font-family: 'authentic-sans-90';
}

h3 {
    margin-bottom: -.4rem;
    letter-spacing: .125rem;
    font-family: 'authentic-sans-90';
}

h4 {
    margin-bottom: -.4rem;
    font-family: 'basier-italic';
    font-weight: 400;
}

ul {
    padding: 0;
    list-style: none;
    margin-bottom: 2.4rem;
    font-family: 'basier-reg';
    font-weight: 300;
}

ul > li {
    margin-bottom: .5rem;
}

@media (max-width: 900px) {
    body {
        padding: 0 .3rem
    }
    main {
        padding: 1rem;
    }
}

@media(min-width: 540px) {
    .about-farley {
        font-size: 32px;
    }
}

@media(min-width: 720px) {
    .about-farley {
        font-size: 48px;
    }
}


@media(min-width: 1080px) {
    nav > ul {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    nav > ul > li {
        margin-right: 4rem;
    }
}