---
layout: base.njk
---

<nav class="blog-nav">
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>

<h1 class="bullpen-title">From the Bullpen</h1>
<p>Workaday notes on building, maintaining, deploying, and troubleshooting web applications</p>


<h2 class="posts">Posts</h2>

{% if collections.post %}
    {% for post in collections.post %}
        {{ post.data.title }}
    {% endfor %}
{% else %}
    <p>No posts yet.  Check back later.</p>
{% endif %}